{{ define "main" }}
  <style>
    .img-container {
      background-image: url('install-party-bg-blur.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      background-position: center center;
    }
  </style>
  <div class="container-fluid img-container" style="margin=0px">
    <div class="p5 text-center body-tertiary pb-3">
      <img src="school-logo.png" width="20%" class="bi mt-4 mb-3">
      <h1 class="text-body-enphasis">GPUL School</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">Acercámosche ao software libre</p>
      <div class="d-inline-flex flex-wrap gap-2 mb-5 justify-content-center">
        <a class="btn btn-primary btn-lg px-4 rounded-pill" href="/charlas">As nosas charlas</a>
        <a class="btn btn-secondary btn-lg px-4 rounded-pill" href="#suggestionForm">Propón unha charla!</a>
      </div>
    </div>
  </div>

  <div class="container-md">
    <h1 class="text-center mt-4">Últimas charlas</h1>
    <div class="container d-flex flex-wrap justify-content-around pt-2 mb-4">
      {{ range site.RegularPages.Limit 4 }}
        <div class="card mb-3" style="width: 18rem;">
          {{ if .Params.cartel }}
            <img src="{{ .RelPermalink }}/{{ .Params.cartel }}" class="rounded-top">
          {{ else }}
            <img src="{{ .RelPermalink }}/{{ .Params.poster }}" class="rounded-top">
          {{ end }}
          <div class="card-body">
            <h5 class="card-title">{{ .LinkTitle }}</h5>
            <p class="card-text">{{ .Summary | strings.Truncate 150 }}</p>
            <a href="{{ .RelPermalink }}" class="btn btn-primary">Más información</a>
          </div>
        </div>
        {{ end }}
    </div>
    <div class="text-center mb-5">
      <a class="btn btn-primary btn-lg px-4 rounded-pill" href="/charlas">Todas as charlas</a>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container-md">
      <h1 class="text-center text-dark pt-5 mb-5">Colaboradores</h1>
      <div class="container d-flex flex-wrap justify-content-around pb-5">
        <img height="40px" src="patrocinadores/udc.svg">
        <img height="40px" src="https://www.fic.udc.es/sites/default/files/logo_fic_0.png">
        <img height="40px" src="patrocinadores/amtega.svg">
      </div>
    </div>
  </div>

  <div class="container-md">
    <h1 class="text-center mt-5 mb-3">Propón unha charla</h1>
    <p class="text-center mb-4">Cubre o formulario coa túa suxerencia</p>
    <form id="suggestionForm" class="col-lg-8 mx-auto mb-4">
      <!-- Primera fila -->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="name" class="mb-2">Nome<b class="text-danger">*</b></label>
          <input id="name" class="form-control mb-2" type="text" placeholder="Nome" name="name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="email" class="mb-2">Email<b class="text-danger">*</b></label>
          <input id="email" class="form-control mb-2" type="email" placeholder="Correo electrónico" name="email" required>
        </div>
      </div>
      <!-- Segunda fila -->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="alias" class="mb-2">Alias en Telegram</label>
          <div class="input-group mb-2">
            <span class="input-group-text">@</span>
            <input id="alias" class="form-control" type="text" placeholder="gpul_" name="alias"> 
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="presenta" class="mb-2">Darías ti a charla?<b class="text-danger">*</b></label>
          <select id="presenta" class="form-select mb-2">
            <option disabled selected hidden>Escolle...</option>
            <option value="Sí">Sí</option>
            <option value="Non">Non, solo é unha suxerencia</option>
            <option value="Se non hai ninguén">Se non hai ninguén...</option>
          </select>
        </div>
      </div>
      <!-- Tercera fila -->
      <div class="form-group">
        <label for="asunto" class="mb-2">Título<b class="text-danger">*</b></label>
        <input id="asunto" class="form-control mb-2" type="text" placeholder="Resumo da charla nunha liña" name="asunto" required>
      </div>
      <!-- Cuarta fila -->
      <div class="form-group">
        <label for="texto" class="mb-2">Proposta<b class="text-danger">*</b></label>
        <textarea id="texto" class="form-control mb-2" rows="3" placeholder="Explica de que vai a charla" name="texto" required></textarea>
      </div>

      <p><b class="text-danger">*</b>Campo obrigatorio</p>

      <button type="submit" id="submit" class="btn btn-primary">Enviar</button>
    </form>

    <!-- Mensajes del formulario -->
    <div id="formulario-correcto" class="mt-3" style="display: none;">
      <div class="alert alert-success">
        <b class="alert-heading">O formulario enviouse correctamente</b>
        <p class="mb-0">Contactaremos contigo para falar sobre posibles data e como será a charla</p>
      </div>
    </div>

    <div id="formulario-incorrecto" style="display: none;">
      <div class="alert alert-danger">
        <b class="alert-heading">Erro ao enviar o formulario</b>
        <p class="mb-0">Se o problema persiste, podes contactar con nós a través do correo <a class="alert-link" href="mailto:<charlas>@gpul.org">charlas@gpul.org</a></p>
      </div>
    </div>

    <script>
      const form = document.getElementById('suggestionForm');
      const submit = document.getElementById('submit');
      
      form.addEventListener('submit', function(e) {
        const url = "https://activepieces.gpul.org/api/v1/webhooks/MST73WP2v5phWqVKDNUUP/sync";
        e.preventDefault();
        formData = new FormData(form);
        console.log(formData);

        submit.classList.add('disabled');
        submit.innerHTML = 'Enviando...';

        fetch(url, {
          method: 'POST',
          body: formData
        })
        .then(response => {
          if(response.status == 200) {
            form.style.setProperty('display', 'none');
            document.getElementById('formulario-correcto').style.removeProperty('display');
            document.getElementById('formulario-incorrecto').style.setProperty('display', 'none');
          }
          else {
            document.getElementById('formulario-incorrecto').style.removeProperty('display');
            submit.innerHTML = 'Enviar';
            submit.classList.remove('disabled');
          }
        })
      });
    </script>
  </div>
{{ end }}
