{{ define "main" }}
  <div class="container-md mt-3 mb-3">
    <h1>{{ .Title }}</h1>

    <div class="container">
      <img src="{{ .Params.poster }}" class="bi container-fluid">
    </div>

    <div class="alert alert-dark mt-4">
      <h3>Detalles da charla</h3>
      <div class="container pt-2">
        <p><span class="bi-calendar"></span> {{ .Date.Format "02/01/2006" }}</p>
        {{ if .Params.location }}<p><span class="bi-geo"></span> {{ .Params.location }}</p>{{ end }}
        <p><span class="bi-person"></span> Persona (@persona)</p>
      </div>
    </div>

    {{ .Content }}

  </div>
{{ end }}
