{{ define "main" }}
  <div class="container-md mt-3 mb-3">
    <h1>{{ .Title }}</h1>

    <div class="container">
            <img src="{{ .Params.poster }}" class="container-fluid" style="padding: 0 !important; border-radius: 16px">
    </div>

    <div class="alert alert-dark mt-4">
      <h3>Detalles da charla</h3>
      <div class="container pt-2">
        <p><span class="bi-calendar"></span> {{ .Date.Format "02/01/2006" }}</p>
        {{ if .Params.time }}<p><span class="bi-clock"></span> {{ .Params.time }}</p>{{ end }}
        {{ if .Params.location }}<p><span class="bi-geo"></span> {{ .Params.location }}</p>{{ end }}
        {{ if .Params.author_link }}" target="_blank" class="link-light">{{ .Params.author }}</a></p>{{ else if .Params.author }}<p><span class="bi-person"></span> {{ .Params.author }}</p>{{ end }}

        {{ if .Params.meetup }}<a class="btn btn-danger" href="{{ .Params.meetup }}" target="_blank">Apúntate en meetup</a>{{ end }}
      </div>
    </div>

    {{ .Content }}

  </div>
{{ end }}
